@(username: String = "")
	
@main("Login") {
	@loginheader(username)
  <h1>Login</h1>
  @helper.form( action = com.playfairy.controllers.routes.LoginController.login(), 'enctype -> "multipart/form-data") {
  	Username: <input type="text" name="username"/><br><br>
  	Password: <input type="text" name="password"/><br><br>
  	<p>
  		<input type="submit"/>
  	</p>
  }
  
  <p>
  	<a href="@com.playfairy.controllers.routes.LoginController.logout()"> Logout </a>
  </p>
  <!-- <p>
  <a href="@routes.Assets.versioned("images/favicon.png")">Play Icon</a>
  </p>
  -->
  <p>
  <!-- <a href="@routes.Assets.versioned("hardcoded.plist")">Download hardcoded ipa</a> -->
  <!--
  <h2>
  	<a href="https://10.6.0.18:9443/assets/ipa/hakimmbp.crt">Download server SSL certificate</a>
  </h2>
  -->
  <!-- <h2>
  	<a href="itms-services://?action=download-manifest&amp;url=https://10.6.0.18:9443/assets/hardcoded.plist">Download hardcoded ipa</a>
  </h2>
  -->
  </p>
}