@(hostname: String, ipaNames: List[String])

@main("Welcome to Play") {
  <h1>Hello world!</h1>
  <p>
  <a href="@routes.Assets.versioned("images/favicon.png")">Play Icon</a>
  </p>
  <p>
  <!-- <a href="@routes.Assets.versioned("hardcoded.plist")">Download hardcoded ipa</a> -->
  <h2>
  	<a href="https://@(hostname)/assets/ipa/hakimmbp.crt">Download server SSL certificate</a>
  </h2>
  <h2>
  	<a href="itms-services://?action=download-manifest&amp;url=https://@(hostname)/assets/hardcoded.plist">Download hardcoded ipa</a>
  </h2>
  </p>
  <br><br>
  <p>
  @for( i <- 0 until ipaNames.size) {
  	 <h3>
  		<a href="itms-services://?action=download-manifest&amp;url=https://@(hostname)/playfairy/download/plist?id=@ipaNames(i)">Download dynamic @ipaNames(i)</a>
  	</h3>
  	<h2>
  		<a href="itms-services://?action=download-manifest&amp;url=https://@(hostname)/assets/ipa/plists/@(ipaNames(i)).plist">Download generated @ipaNames(i)</a>
  	</h2>
  	}
  </p>
}
